<div class="container">
  <div class="row">
    <div class="col">
      <table class="table" >
        <tr>
          <th>Title:</th>
          <td>
            <input type="text" [(ngModel)]="offer.title">
          </td>
        </tr>
        <tr>
          <th>Description:</th>
          <td>
            <input type="text" [(ngModel)]="offer.description">
          </td>
        </tr>
        <tr>
          <th>Status:</th>
          <td>
            <label>
              <select [(ngModel)]="offer.auctionStatus">
                <option>{{auctionStatus.NEW}}</option>
                <option>{{auctionStatus.CLOSED}}</option>
                <option>{{auctionStatus.DELIVERED}}</option>
                <option>{{auctionStatus.FOR_SALE}}</option>
                <option>{{auctionStatus.EXPIRED}}</option>
                <option>{{auctionStatus.PAID}}</option>
                <option>{{auctionStatus.SOLD}}</option>
                <option>{{auctionStatus.WITHDRAWN}}</option>
              </select>
            </label>
          </td>
        </tr>
        <tr>
          <th>Number of Bids:</th>
          <td>
            <input type="number" [(ngModel)]="offer.numberOfBids">
          </td>
        </tr>
        <tr>
          <th>Highest Bid:</th>
          <td>
            <input type="number" [(ngModel)]="offer.valueHighestBid">
          </td>
        </tr>
      </table>
      <button class="float-right" (click)="saveOffer()">Save</button>
      <button class="float-right mr-2">Delete</button>
    </div>
  </div>
</div>
