<div class="container">
  <div class="row">
    <div class="col-3">
      <h3>Pick a date:</h3>
      <input type="text">
      <h3>Pick a category:</h3>
      <ul>
        <li *ngFor="let category of categories"><a href="#">{{category}}</a></li>
      </ul>
    </div>

    <div class="col-6">
      <h1>Expiring Auctions</h1>
      <div class="img-box" *ngFor="let item of items">
        <a [href]="item.url"><img [src]=item.src width="250px"></a>
      </div>
    </div>


    <div class="col-3">
      <h2>Lorem ipsum</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, blanditiis voluptas? Aperiam architecto
        at autem dolor dolore doloremque error nihil pariatur porro praesentium quam, repellendus, sunt suscipit! Amet
        consequuntur dolorem, laboriosam modi nam nihil officiis quae quisquam reiciendis sed. Ad deserunt dolore ea
        fugiat, impedit in neque quis saepe tenetur.</p>
    </div>
  </div>
</div>


