<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner"
       (mouseenter)="stopInterval()"
       (mouseleave)="continueInterval()">
    <!--Creates a container for every image stored in the loop, the first image gets the active class to start the 'carousel'-->
    <div *ngFor="let item of items; let i = index;"
         [className]="(i==0)?'active carousel-item image':'carousel-item image'">
      <img src="{{item.src}}">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="image-description">{{item.title}}</h5>
        <p class="image-description">{{item.descr}}</p>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev">
    <span class="carousel-prev-icon" aria-hidden="true"
          (click)="previousItem()"><i class="fa fa-chevron-left"></i></span>
  </a>

  <a class="carousel-control-next" role="button">
    <span class="carousel-next-icon" aria-hidden="true"
          (click)="nextItem()"><i class="fa fa-chevron-right"></i></span>
  </a>
</div>

<div class="homeFooter d-flex">
  <div class="col-4 right-border">
    <div class="auctionIndex">
      <h1>Today's Auctions</h1>
      <p id="todays_auctions_live" class="todaysAuctionSwitchLink active bottom-border">
        <i class="fa fa-chevron-right"></i>&nbsp;Today's live auctions (
        <ng-container *ngIf="isLoaded">{{offers.length}}</ng-container>&nbsp;)</p>
      <p id="todays_auctions_viewall">View all</p>
    </div>
  </div>

  <div class="col-8" *ngIf="!isLoaded; else showOffers">Loading current Offers</div>

  <ng-template #showOffers>
    <div class="col-4 right-border">
      <div *ngFor="let offer of leftOffers" class="offerContainer">
        <h4>{{offer.title}}</h4>
        <p>{{offer.description}}</p>
      </div>
    </div>
    <div class="col-4">
      <div *ngFor="let offer of rightOffers" class="offerContainer">
        <h4>{{offer.title}}</h4>
        <p>{{offer.description}}</p>
      </div>
    </div>
  </ng-template>
</div>


