<div class="d-flex">
  <div class="d-flex flex-column offersList bg-light">
    <h4 class="text-center border-bottom">Offers List</h4>
    <p class="offerItem" (click)="selectOffer('offers1')">Offer design 1</p>
    <p class="offerItem" (click)="selectOffer('offers2')">Offer design 2</p>
    <p class="offerItem" (click)="selectOffer('offers3')">Offer design 3</p>
    <p class="offerItem" (click)="selectOffer('offers4')">Offer design 4</p>
    <p class="offerItem" (click)="selectOffer('offers5')">Offer design 5</p>
    <p class="offerItem" (click)="selectOffer('offers6')">Offer design 6</p>
    <p class="offerItem" (click)="selectOffer('offers11')">Offer design 11</p>
  </div>

  <div class="col-10">
    <router-outlet></router-outlet>
  </div>
</div>
