<div class="container container-fluid">
<table class="table">
  <tr>
    <th>Title</th>
    <th>Selling Date</th>
    <th>Status</th>
    <th>Number of Bids</th>
    <th>Value Highest Bid</th>
  </tr>
  <tr *ngFor="let offer of offers">
    <td>{{offer.title}}</td>
    <td>{{offer.sellDate.toDateString() + " " + offer.sellDate.toLocaleTimeString().substring(0, 5)}}</td>
    <td>{{offer.auctionStatus}}</td>
    <td>{{offer.numberOfBids}}</td>
    <td>{{offer.valueHighestBid}}</td>
  </tr>
</table>
<button (click)="offers.push(addRandomOffer())">Add Offer</button>
</div>
