<div class="d-flex justify-content-between primary-header" id="mainNav">
  <div class="d-flex nav-container justify-content-start dropdown-switch">
    <p class="nav-text ">Auctions&nbsp;<i class="fa fa-chevron-down"></i></p>

    <div class="dropdown">
      <p class="nav-container nav-text">Today's Auctions</p>
      <p class="nav-container nav-text">Active Auctions</p>
    </div>
  </div>

  <div class="d-flex">
    <p class="nav-container nav-text">Watches & Jewelry</p>
    <p class="nav-container nav-text">Gemstones</p>
    <p class="nav-container nav-text">Collectables</p>
    <p class="nav-container nav-text">Furniture</p>
    <p class="nav-container nav-text">Vintage Fashion</p>
    <p class="nav-container nav-text">The Bestest Games</p>
    <p class="nav-container nav-text">Decorative Art</p>
  </div>

  <p class="nav-text nav-container">Help</p>
</div>


  <a class="navbar-brand" routerLink="signup">Sign up</a>
  <a class="navbar-brand" (click)="logIn()">Log in</a>
</nav>
