<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">Home</a>

  <ul class="navbar-nav dropdown">
    <li class="nav-item">
      <a class="nav-link dropdown-toggle navbar-brand" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        My Offers
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item navbar-brand" [routerLink]="['offers1']">All Offers List</a>
        <a class="dropdown-item navbar-brand" [routerLink]="['offers2']">M/D (component store)</a>
        <a class="dropdown-item navbar-brand" [routerLink]="['offers3']">M/D (from service)</a>
        <a class="dropdown-item navbar-brand" [routerLink]="['offers4']">M/D (queryparams)</a>
        <a class="dropdown-item navbar-brand" [routerLink]="['offers5']">M/D (validated)</a>
        <a class="dropdown-item navbar-brand" [routerLink]="['offers6']">M/D (persisted)</a>
      </div>
    </li>
  </ul>

  <a class="navbar-brand" href="#">My Bids</a>

  <a class="navbar-brand" href="#">My Account</a>

  <div class="flex-divider"></div>

  <a class="navbar-brand" routerLink="signup">Sign up</a>
  <a class="navbar-brand" routerLink="login">Log in</a>
</nav>
