<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Home</a>
  <a class="navbar-brand" href="#">My Offers</a>

  <ul class="navbar-nav dropdown">
    <li class="nav-item">
      <a class="nav-link dropdown-toggle navbar-brand" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        My Bids
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item navbar-brand" href="#">Action</a>
        <a class="dropdown-item navbar-brand" href="#">Another action</a>
        <a class="dropdown-item navbar-brand" href="#">Something else here</a>
      </div>
    </li>
  </ul>

  <a class="navbar-brand" href="#">My Account</a>

  <div class="flex-divider"></div>

  <a class="navbar-brand" href="#">Sign up</a>
  <a class="navbar-brand" href="#">Log in</a>


</nav>
