#mainNav {
  background: #c9cacb;
  color: black;
  height: 50px;
  padding: 0 20px;
}

.nav-container {
  padding: 1em;
  cursor: pointer;
}

.nav-container:hover {
  background-color: #3369e8;;
  color: white;
  transition: 0.4s;
}

.nav-text {
  margin: auto 0;
  font-weight: lighter;
  font-size: 0.9em;
}

.dropdown-switch:hover .dropdown{
  display: block;
}

.dropdown {
  display: none;
  background: inherit;
  position: absolute;
  width: auto;
  margin-top: 34px;
  margin-left: -16px;
  z-index: 150;
  min-width: 120px;
}

.dropdown .nav-container{
  border-top: 1px solid #c9cacb;
}

.dropdown .nav-container:hover{
  background: #c9cacb;
  color: black;
}
