<div class="container">
  <div class="row">
    <div class="col">
      <form #editForm="ngForm" (keydown.enter)="$event.preventDefault()">
        <table class="table">
          <tr>
            <th>Title:</th>
            <td>
              <input type="text" [(ngModel)]="(offerCopy).title" name="title"
                     (keyup)="noChange = false; markAsPristine(title.valid, $event.target)"
                     required minlength="6" pattern="[a-zA-Z0-9 ]*" #title="ngModel">
            </td>
          </tr>
          <tr>
            <th>Description:</th>
            <td>
              <input type="text" [(ngModel)]="offerCopy.description" name="description"
                     (keyup)="noChange = false; markAsPristine(description.valid, $event.target)"
                     required minlength="8" pattern="[a-zA-Z0-9 ]*" #description="ngModel">
            </td>
          </tr>
          <tr>
            <th>Status:</th>
            <td>
              <label>
                <select [(ngModel)]="offerCopy.auctionStatus" type="select" name="auctionStatus"
                        (change)="noChange = false" ngModel required>
                  <option>{{auctionStatus.NEW}}</option>
                  <option>{{auctionStatus.CLOSED}}</option>
                  <option>{{auctionStatus.DELIVERED}}</option>
                  <option>{{auctionStatus.FOR_SALE}}</option>
                  <option>{{auctionStatus.EXPIRED}}</option>
                  <option>{{auctionStatus.PAID}}</option>
                  <option>{{auctionStatus.SOLD}}</option>
                  <option>{{auctionStatus.WITHDRAWN}}</option>
                </select>
              </label>
            </td>
          </tr>
          <tr>
            <th>Number of Bids:</th>
            <td>
              <input type="number" [(ngModel)]="offerCopy.numberOfBids" name="numberOfBids"
                     (change)="noChange = false; markAsPristine(numberOfBids.valid, $event.target)"
                     (keyup)="noChange = false;" required #numberOfBids="ngModel" >
            </td>
          </tr>
          <tr>
            <th>Highest Bid:</th>
            <td>
              <input type="number" [(ngModel)]="offerCopy.valueHighestBid" name="valueHighestBid"
                     (change)="noChange = false; markAsPristine(highestBid.valid, $event.target)"
                     (keyup)="noChange = false" ngModel #highestBid="ngModel" [required]="numberOfBids.value > 0">
            </td>
          </tr>
        </table>
        <span class="text-capitalize text-danger float-right" *ngIf="!editForm.valid && editForm.touched">Form is invalid!</span>
        <br>
        <button type="button" class="float-right" (click)="cancelChanges()">Cancel</button>
        <button type="button" class="float-right mr-2" [disabled]="noChange" (click)="resetOffer()">Reset</button>
        <button type="button" class="float-right mr-2" (click)="clearOffer()">Clear</button>
        <button type="button" class="float-right mr-2" [disabled]="noChange || !detailForm.valid" (click)="saveOffer()">Save</button>
        <button type="button" class="float-right mr-2" [disabled]="!noChange" (click)="deleteOffer()">Delete</button>
      </form>
    </div>
  </div>
</div>
