<div class="container">
  <div class="row">
    <div class="col" *ngIf="index != null; else elseBlock">
      <table class="table">
        <tr>
          <th>Title:</th>
          <td>
            <input type="text" [(ngModel)]="offerCopy.title" (keyup)="noChange = false">
          </td>
        </tr>
        <tr>
          <th>Description:</th>
          <td>
            <input type="text" [(ngModel)]="offerCopy.description" (keyup)="noChange = false">
          </td>
        </tr>
        <tr>
          <th>Status:</th>
          <td>
            <label>
              <select [(ngModel)]="offerCopy.auctionStatus" (change)="noChange = false">
                <option>{{auctionStatus.NEW}}</option>
                <option>{{auctionStatus.CLOSED}}</option>
                <option>{{auctionStatus.DELIVERED}}</option>
                <option>{{auctionStatus.FOR_SALE}}</option>
                <option>{{auctionStatus.EXPIRED}}</option>
                <option>{{auctionStatus.PAID}}</option>
                <option>{{auctionStatus.SOLD}}</option>
                <option>{{auctionStatus.WITHDRAWN}}</option>
              </select>
            </label>
          </td>
        </tr>
        <tr>
          <th>Number of Bids:</th>
          <td>
            <input type="number" [(ngModel)]="offerCopy.numberOfBids" (change)="noChange = false" (keyup)="noChange = false">
          </td>
        </tr>
        <tr>
          <th>Highest Bid:</th>
          <td>
            <input type="number" [(ngModel)]="offerCopy.valueHighestBid" (change)="noChange = false" (keyup)="noChange = false">
          </td>
        </tr>
      </table>
      <button class="float-right" (click)="cancelChanges()">Cancel</button>
      <button class="float-right mr-2" [disabled]="noChange" (click)="resetOffer()">Reset</button>
      <button class="float-right mr-2" (click)="clearOffer()">Clear</button>
      <button class="float-right mr-2" [disabled]="noChange" (click)="saveOffer()">Save</button>
      <button class="float-right mr-2" [disabled]="!noChange" (click)="deleteOffer()">Delete</button>
    </div>
    <p *ngIf="index == null"><br>Select an offer on the left.</p>
  </div>
</div>
